a {
  text-decoration: none;
  padding-top: 10px;
  padding-left:20px;
  padding-right: 20px;
  padding-bottom: 10px;
  color: #444;
  display: block;
}
a:hover {
	color: #999;
	text-decoration: underline;
	width: 100%;
}
img {
	width: 250px;
	height: 150px;
}
ul {
  list-style: none; 
  margin: 0; 
  padding-left: 0; 
}
/*footer {
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}*/